<div class="buttons has-addons">
    <button class="button is-success">Follow</button>
    <button class="button is-danger">Unfollow</button>
</div>


<div class="buttons has-addons">
    {% if profile in user.profile.follows.all %}
        <button class="button is-success is-static">Follow</button>
        <button class="button is-danger">Unfollow</button>
    {% else %}
        <button class="button is-success">Follow</button>
        <button class="button is-danger is-static">Unfollow</button>
    {% endif %}
</div>


<form method="post">
    {% csrf_token %}
    <div class="buttons has-addons">
    {% if profile in user.profile.follows.all %}
        <button class="button is-success is-static">Follow</button>
        <button class="button is-danger" name="follow" value="unfollow">
            Unfollow
        </button>
    {% else %}
        <button class="button is-success" name="follow" value="follow">
            Follow
        </button>
        <button class="button is-danger is-static">Unfollow</button>
    {% endif %}
    </div>
</form>